/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

button {
  background-color: #06307a;
  color: white;
  border: 1px solid #8a909b;
  padding: 5px;
  border-radius: 5px;
}

body {
  background-color: #b3bbc9;
}

div.header {
  background-color: #d0d9e8;
  height: 50px;
  border-bottom: 3px solid #8a909b;
  display: flex;
}

div.header > div {
  padding: 13px;
}

div.header > div.title {
  flex: 1;
  font-weight: bold;
}

div.header > div.player, div.header > div.turns {
  width: 150px;
}

div.header > div.ranking {
  padding: 8px;
}

div.header > div.ranking > button {
  cursor: pointer;
}

div.board {
  padding: 3em;
  max-width: 940px;
  margin: 0 auto;
}

div.card {
  height: 200px;
  line-height: 200px;
  display: inline-block;
  width: 130px;
  margin: 15px;
  border: 7px solid #b0c4e8;
  border-radius: 10px;
  background-color: #e3ebf9;
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  cursor: pointer;
}

div.card > span.card-unknown {
  color: #b0c4e8;
}

table.ranking-table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  margin-bottom: 1em;
}

table.ranking-table td, table.ranking-table th {
  padding: 5px;
  border: 1px solid lightgray;
}

div.player-name {
  border: 7px solid #b0c4e8;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 3em;
  background-color: #e3ebf9;
  border-radius: 10px;
  padding: 2em;
}

div.player-name input[type=text] {
  border-color: #8a909b;
  border-radius: 5px;
  width: 98%;
  padding: 7px;
}

div.player-name input[type=radio] {
  margin: 10px 5px;
}

div.player-name-button {
  text-align: right;
}

